# Set to True for local development only. Never True in production.
DEBUG=True

LOG_LEVEL=INFO
EMAIL_SMTP_PORT=1030
FERNET_KEY=
SECRETS_PREFIX=
DB_PASSWORD_SOURCE=env
DB_SECRET_NAME=
DB_ENGINE=sqlite
LOG_DESTINATION=local
LOG_NAME=application
LOG_PATH=
LOG_ROTATION=size
LOG_ROTATION_SIZE_MB=10
LOG_CLEANUP_KEEP_FILES=10
LOG_CLEANUP_KEEP_DAYS=5
LOG_S3_BUCKET=
DEV_LAN_IP=
