{% extends "base.html" %}
{% load static %}
{% block title %}
  Employment Type
{% endblock title %}
{% block scripts %}
  <script type="module" src="{% static 'js/dist/emp-types.min.js' %}"></script>
{% endblock scripts %}
{% block page_eyebrow %}
  Employment Type
{% endblock page_eyebrow %}
{% block page_title %}
  <span id="rp-emp-type-detail-title">Employment Type</span>
{% endblock page_title %}
{% block content %}
  <div class="row g-4">
    <div class="col-lg-4">
      <section-panel>
        <panel-body>
          <view-field id="rp-emp-type-detail-name" label="Name"></view-field>
          <view-field id="rp-emp-type-detail-code" label="Code" code></view-field>
          <view-field id="rp-emp-type-detail-status" label="Status"></view-field>
          <view-field id="rp-emp-type-detail-created" label="Created" meta></view-field>
          <view-field id="rp-emp-type-detail-created-by" label="Created by" meta></view-field>
        </panel-body>
      </section-panel>
    </div>
    <div id="rp-emp-type-members-col" class="col-lg-8" hidden>
      <section-panel>
        <panel-title>Members</panel-title>
        <panel-body>
          <data-table id="rp-emp-type-members-table"
                      url="/api/v1/emp-types/{{ emp_type_code }}/members/"
                      paginated
                      page-size="25"
                      row-template="renderEmpTypeMembersRow"
                      empty-message="No members have this employment type.">
            <table-columns>
              <table-column width="44px">
              </table-column>
              <table-column label="Name" key="display_name" sortable>
              </table-column>
              <table-column label="Email" key="email" hide-mobile sortable>
              </table-column>
              <table-column label="Role" key="role" hide-mobile>
              </table-column>
              <table-column label="Location" key="location" hide-mobile>
              </table-column>
            </table-columns>
          </data-table>
        </panel-body>
      </section-panel>
    </div>
  </div>
{% endblock content %}
