{% extends "base.html" %}
{% load static %}
{% block title %}
  Location
{% endblock title %}
{% block scripts %}
  <script type="module" src="{% static 'js/dist/locations.min.js' %}"></script>
{% endblock scripts %}
{% block page_eyebrow %}
  Location
{% endblock page_eyebrow %}
{% block page_title %}
  <span id="rp-location-detail-title">Location</span>
{% endblock page_title %}
{% block content %}
  <div class="row g-4">
    <div class="col-lg-4">
      <section-panel>
        <panel-body>
          <view-field id="rp-location-detail-city" label="City"></view-field>
          <view-field id="rp-location-detail-country" label="Country"></view-field>
          <view-field id="rp-location-detail-code" label="Code" code></view-field>
          <view-field id="rp-location-detail-status" label="Status"></view-field>
          <view-field id="rp-location-detail-created" label="Created" meta></view-field>
          <view-field id="rp-location-detail-created-by" label="Created by" meta></view-field>
        </panel-body>
      </section-panel>
    </div>
    <div id="rp-location-members-col" class="col-lg-8" hidden>
      <section-panel>
        <panel-title>Members</panel-title>
        <panel-body>
          <data-table id="rp-location-members-table"
                      url="/api/v1/locations/{{ location_code }}/members/"
                      paginated
                      page-size="25"
                      row-template="renderLocationMembersRow"
                      empty-message="No members are based at this location.">
            <table-columns>
              <table-column width="44px">
              </table-column>
              <table-column label="Name" key="display_name" sortable>
              </table-column>
              <table-column label="Email" key="email" hide-mobile sortable>
              </table-column>
              <table-column label="Role" key="role" hide-mobile>
              </table-column>
              <table-column label="Employment Type" key="employment_type" hide-mobile>
              </table-column>
            </table-columns>
          </data-table>
        </panel-body>
      </section-panel>
    </div>
  </div>
{% endblock content %}
