{% extends "base.html" %}
{% load static %}
{% block title %}
  Business Unit
{% endblock title %}
{% block scripts %}
  <script type="module" src="{% static 'js/dist/business-units.min.js' %}"></script>
{% endblock scripts %}
{% block page_eyebrow %}
  Business Unit
{% endblock page_eyebrow %}
{% block page_title %}
  <span id="rp-bu-detail-title">Business Unit</span>
{% endblock page_title %}
{% block content %}
  <div class="row g-4">
    <div class="col-lg-4">
      <section-panel>
        <panel-body>
          <view-field id="rp-bu-detail-name" label="Name"></view-field>
          <view-field id="rp-bu-detail-short-name" label="Short Name" code></view-field>
          <view-field id="rp-bu-detail-code" label="Code" code></view-field>
          <view-field id="rp-bu-detail-status" label="Status"></view-field>
          <view-field id="rp-bu-detail-created" label="Created" meta></view-field>
          <view-field id="rp-bu-detail-created-by" label="Created by" meta></view-field>
        </panel-body>
      </section-panel>
    </div>
    <div id="rp-bu-products-col" class="col-lg-8" hidden>
      <section-panel>
        <panel-title>Products</panel-title>
        <panel-body>
          <data-table id="rp-bu-products-table"
                      url="/api/v1/products/?bu={{ bu_code }}"
                      paginated
                      page-size="25"
                      row-template="renderBuProductsRow"
                      empty-message="No products assigned to this business unit.">
            <table-columns>
              <table-column width="44px">
              </table-column>
              <table-column label="Name" key="name" sortable>
              </table-column>
              <table-column label="Code" key="code" mono width="130px" hide-mobile>
              </table-column>
              <table-column label="Short Name" key="short_name" hide-mobile>
              </table-column>
              <table-column label="Status" key="is_active">
              </table-column>
            </table-columns>
          </data-table>
        </panel-body>
      </section-panel>
    </div>
  </div>
{% endblock content %}
